.footer
    ul
        display: flex
        list-style: none
        // li:first-child
        //     margin-right: 25.29px
        li
            margin-right: 10px
            &.selected
                color: white
                padding: 2px 6px
                background-color: $ColorBlue
